*{
    background-color: #035d58;
}
.calculator {
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: #035d58;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#display {
    width: 90%;
    height: 70px;
    font-size: 36px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    background-color: #4e4e4e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: right;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    width: 70px;
    height: 70px;
    font-size: 24px;
    background-color: #208b79;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.operator {
    background-color: #ff9800;
    color: #fff;
}

button.clear {
    background-color: #f44336;
    color: #fff;
}

button:hover {
    background-color: #e0e0e0;
}

button:active {
    transform: translateY(2px);
}

